<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/highlight.js/9.13.0/styles/atom-one-dark-reasonable.min.css" rel="stylesheet">
    <title>简单实现一个类似 Vue 的 MVVM</title>
</head>

<body>
    <h2>简单实现一个类似 Vue 的 MVVM</h2>
    <a href="https://div.io/topic/1890">参考链接</a>
    <p>输入如下类 Vue 的 code , 能做到数据动态绑定和刷新</p>
    <div id="app2">
        <h2>{{title}}</h2>
        <input v-model="input" type="text">
        <button @click="add">add</button>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div class="flex" style="display:flex;width:100%;flex-direction:row;justify-content: space-between;">
        <div class="left" style="width:50%">

            <pre><code id="html" class="html">
            </code></pre>

            <pre><code id="code" class="js"></code></pre>
        </div>
        <!-- <div class="right" style="width:50%;min-height:40vw;margin:15px">
            <iframe width="100%" height="800" src="//jsfiddle.net/lxx2013/31sz94wo/1/embedded/result,js,html,css/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div> -->
    </div>


</body>
<script>
    var app2 = new MVVM({
        el: "#app2",
        data: {
            input: '',
            title: 'MVVM Todos:',
            todos: [
                { text: "Learn JavaScript", done: false },
                { text: "Learn MVVM", done: false },
            ]
        },
        methods: {
            toggle: function (todo) {
                todo.done = !todo.done
            },
            add: function () {
                this.todos.push({ text: this.input, done: false })
                this.input = ''
            }
        }
    })
    /*
     * 仿 Vue 的简单 MVVM 结构实现
    */
    function MVVM(options) {
        var vm = parseOption(this, options);

        scan(document.querySelector(options.el))

        function parseOption(vm, options) {
            vm.el = options.el
            Object.defineProperties(vm, {
                '_data': {
                    enumerable: false,
                    configurable: true,
                    value: options.data
                },
                '_methods': {
                    enumerable: false,
                    configurable: true,
                    value: options.methods
                }
            })
            for (let i in vm._data) {
                vm[i] = vm._data[i]
            }
            for (let i in vm._methods) {
                vm[i] = vm._methods[i]
            }
            return vm
        }
        function observe(obj, k, callback) {
            let old = obj[k]
            if (old instanceof Array) {
                observeArray(old, callback)
            }
            else {
                Object.defineProperty(obj, k, {
                    enumerable: true,
                    configurable: true,
                    get: function () {
                        return old
                    },
                    set: function (now) {
                        if (now !== old) {
                            callback(old, now)
                        }
                        old = now
                    }
                }
                )
            }

            function observeArray(arr, callback) {
                const oam = ['push', 'pop', 'shift', 'unshift', 'splice', 'sort', 'reverse']
                const hackProto = Object.create(Array.prototype)
                oam.forEach(function (method) {
                    Object.defineProperty(hackProto, method, {
                        writable: true,
                        enumerable: true,
                        configurable: true,
                        value: function () {
                            let old = this.slice()
                            let now = Array.prototype[method].apply(this, arguments)
                            callback(old, this)
                            return now
                        }
                    })
                })
                arr.__proto__ = hackProto
            }
        }
        function scan(node) {
            if (!node.getAttribute('v-for')) {
                for (let i of node.children) {
                    if (!(i.isDirty))
                        scan(i)
                }
                parseEvent(node)
                parseModel(node)
                parseData(node)
            } else {
                parseList(node)
            }
            function parseModel(node) {
                let m = node.getAttribute('v-model')
                if (m) {
                    node.onchange = () => { vm[m] = node.value }
                    observe(vm, m, (old, now) => { node.value = now })
                }
            }
            function parseData(node, m) {
                if (node.children.length > 0) return
                if (/.*{{(.*)}}.*/.test(node.innerText)) {
                    let m = RegExp.$1.trim()
                    node.innerText = vm[m]
                    if (m.length == 1)
                        observe(vm, m, (old, now) => { node.innerText = now })
                }
            }
            function parseEvent(node) {
                let f = node.getAttribute('@click')
                if (f) {
                    node.addEventListener('click', vm[f].bind(vm))
                }
            }
            function parseList(node) {
                //const _item = parseListItem(node)
                const _list = node.getAttribute('v-for');
                /(.*)in(.*)/.test(_list);
                let m = RegExp.$2.trim(), n = RegExp.$1.trim()
                observe(vm, m, () => renderList(node))
                renderList(node)

                function renderList(node) {
                    var childs = node.parentNode.children
                    for (var i = 0; i < childs.length; i++) {
                        if (childs[i].isDirty) { node.parentNode.removeChild(childs[i]); i-- }
                    }
                    for (var i of vm[m]) {
                        let cloneNode = node.cloneNode(true)
                        cloneNode.removeAttribute('v-for');
                        /{{(.*)}}/.test(cloneNode.innerText)
                        let keyL = RegExp.$1.split('.').map(x => x.trim())
                        if (keyL.length == 1) {
                            cloneNode.innerText = i
                        } else {
                            var o = {}; Object.assign(o, i)
                            for (let k = 1; k < keyL.length; k++) {
                                o = o[keyL[k]]
                            }
                            cloneNode.innerText = o
                            cloneNode.isDirty = true
                        }
                        node.parentNode.appendChild(cloneNode)
                    }

                }
            }
        }
    }
</script>

<script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
<script>
    document.querySelector("#code").innerText = document.querySelector("script").innerText
    hljs.initHighlightingOnLoad()
</script>

<script>
    document.querySelector('#html').innerText = `
<div id="app2">
  <h2>MVVM Todos:</h2>
  <input v-model="input" type="text">
  <button @click="add">add</button>
  <ol>
    <li v-for="todo in todos">
      <label>
        <input type="checkbox"
          v-on:change="toggle(todo)"
          v-bind:checked="todo.done">

        <del v-if="todo.done">
          {{ todo.text }}
        </del>
        <span v-else>
          {{ todo.text }}
        </span>
      </label>
    </li>
  </ol>
</div>
<script>
let data = {
  title: 'todo list',
  user: 'lxx',
  todos: [
    {
      creator: 'lxx',
      content: 'write mvvm'
      done: 'undone',
      date: '2018-12-25',
    },
    {
      creator: 'lxx',
      content: 'write mvvm2'
      done: 'undone',
      date: '2018-12-26',
    }
  ]
}
new MVVM({
  el: "#app2",
  data: {
  	input: '',
    todos: [
      { text: "Learn JavaScript", done: false },
      { text: "Learn MVVM", done: false },
      { text: "Play around in JSFiddle", done: true },
      { text: "Build something awesome", done: true }
    ]
  },
  methods: {
  	toggle: function(todo){
    	todo.done = !todo.done
    },
    add: function(){
    	this.todos.push({ text: this.input , done:false})
      this.input = ''
    }
  }
})
<\/script>
`
</script>

</html>